@font-face {
  font-family: 'accra';
  src: url('../font/accra.eot?41611397');
  src: url('../font/accra.eot?41611397#iefix') format('embedded-opentype'),
       url('../font/accra.woff2?41611397') format('woff2'),
       url('../font/accra.woff?41611397') format('woff'),
       url('../font/accra.ttf?41611397') format('truetype'),
       url('../font/accra.svg?41611397#accra') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'accra';
    src: url('../font/accra.svg?41611397#accra') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "accra";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
footer a{
  color:#ffffff;
}
footer a:hover{
  color:#AE6F51;
}
 
.icon-dog:before { content: '\e800'; } /* '' */
.icon-grill:before { content: '\e801'; } /* '' */
.icon-houses:before { content: '\e802'; } /* '' */
.icon-pool:before { content: '\e803'; } /* '' */
.icon-size:before { content: '\e804'; } /* '' */
.icon-sun-bed:before { content: '\e805'; } /* '' */
.icon-table:before { content: '\e806'; } /* '' */
.icon-yoga:before { content: '\e807'; } /* '' */
.icon-access:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-battery:before { content: '\e80a'; } /* '' */
.icon-energy:before { content: '\e80b'; } /* '' */
.icon-public-lamp:before { content: '\e80c'; } /* '' */
.icon-survilance:before { content: '\e80d'; } /* '' */
.icon-water-pipe:before { content: '\e80e'; } /* '' */
.icon-house-keeping:before { content: '\e80f'; } /* '' */
