:root{
    --white:#ffffff;
    --brown-accra:#7B6447;
    --light-brown-accra:#AE6F51;
    --btn-accra: #4E7D89;
    --blue-accra:#072651;
    --bodoni:'Bodoni Moda 9pt', serif;
    --montserrat:'Montserrat', sans-serif;
    --extra-light:200;
    --light:300;
    --regular:400;
    --semi-bold:600;
    --bold:700;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,400&display=swap');
@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('../fonts/bodoni/BodoniModa9pt-SemiBold.eot');
    src: url('../fonts/bodoni/BodoniModa9pt-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.woff2') format('woff2'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.woff') format('woff'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.svg#BodoniModa9pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('../fonts/bodoni/BodoniModa9pt-Bold.eot');
    src: url('../fonts/bodoni/BodoniModa9pt-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.woff2') format('woff2'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.woff') format('woff'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.svg#BodoniModa9pt-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*ACTIVE*/
.active-accra {
    color: var(--brown-accra) !important;
}
.active-accra-drop {
    background-color: var(--light-brown-accra) !important;
    color: var(--white) !important;
    border-color: var(--light-brown-accra) !important;
}

#comercial.banner-area.banner-style-one{
    padding-top:50px;
}

/*Header*/
.item span {
    font-family: var(--montserrat);    
}
.item a h5 {
    font-family: var(--bodoni);
    font-size: 16px!important;
}

/*Color iconos en lotes del header*/
header .nav-container .header-info .item i {
    background-color: var(--brown-accra);
}

/*Menu Navegacion Responsive*/
@media screen and (min-width: 1200px) and (max-width: 1220px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    header.sticky-header.sticky-active.header-two .header-info .item a, header.sticky-header.sticky-active.header-two .header-info .item, header.sticky-header.sticky-active.header-two .header-info .item .title {
        color: var(--white);
    }
    .item a h5 {
        margin-bottom: 30px;
    }
    .padding-telmail {
        padding: 40px 20px 0;
    }
    /*Header Sticky*/
    header .container.container-custom-one {
        max-width: 960px;
    }
    .sticky-active {
        padding:10px 0;
    }
}

/*Logo size scroll responsive*/
@media screen and (min-width: 200px) {
    header .nav-container .site-logo img {
        max-width: 8rem;
    }
}
@media screen and (min-width: 768px) {
    header.sticky-header.sticky-active .nav-container .site-logo img {
        max-width: 9rem;
    }
}
@media screen and (min-width: 1200px) {
    header.sticky-header.sticky-active .nav-container .site-logo img {
        max-width: 10rem;
    }
}

.main-btn.btn-filled {
    background-color: var(--btn-accra);
    border: 2px solid var(--btn-accra);
}
.main-btn.btn-filled:hover,
.room-gallery-cta ul li .main-btn.btn-filled:hover {
    background-color: var(--white);
    color: var(--btn-accra);
    border: 2px solid var(--btn-accra);
}
.bgc-white {
    background-color: var(--white)!important;
}
.fa-whatsapp::before {
    font-weight: 700;
    margin-left: 5px;
    font-size: 15px;
}

/*Main -> Debajo del slider -> Background azul*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .text-block.with-pattern .pattern-wrap {
        height: 288px!important;
    }
}
@media screen and (min-width: 416px) and (max-width: 767px) {
    .text-block.with-pattern .pattern-wrap {
        height: 250px!important;
    }
}
@media screen and (min-width: 400px) and (max-width: 415px) {
    .text-block.with-pattern .pattern-wrap {
        height: 283px!important;
    }
}
@media screen and (max-width: 399px) {
    .text-block.with-pattern .pattern-wrap {
        height: 240px!important;
    }
}

/*Main -> Vida en Tulum*/
.room-slider .rooms-slider-two .single-rooms-box .room-desc {
    background-color:#072651;
}
.txt-under {
    color: var(--white);
    text-align: center;
}

/*Footer*/
footer .copyright-area .social-links a {
    background-color: var(--btn-accra)!important;
}
footer .copyright-area .social-links a:hover {
    background-color: var(--white)!important;
    color: var(--btn-accra)!important;
}

/*LOTES*/
.h3-subtitle {
    color: var(--white)!important;
    font-size: 50px;
}
.cta-section .cta-inner .cta-features .single-feature .icon {
    background-color: var(--btn-accra);
    color: var(--white);
}
.cta-section .cta-inner .cta-features .single-feature .icon:hover, .cta-section .cta-inner .cta-features .single-feature:hover .icon {
    color: var(--btn-accra);
    background-color: var(--white);
}
.side-icon-info {
    color:#808083;
    font-size:24px;
    font-weight:bold;
    line-height:45px;
}
.btn-asesor {
    background-color: var(--btn-accra);
    color: var(--white);
    padding:11px 22px;
    font-size:15px;
    font-weight:bold;
    box-shadow: 13px 13px 23px #07265152;
}
.btn-brochure {
    color:#4E7D9F; padding:11px 22px;
    font-size:15px;
    font-weight:bold;
    background-color: var(--white);
    border: 2px solid var(--btn-accra);
}
.btn-brochure:hover {
    background-color: var(--btn-accra)!important;
    color: var(--white)!important;
}

@media screen and (max-width: 991px) { /*ESPECIFICACIONES TÉCNICAS*/
    .cta-section .cta-inner {
        padding: 0;
    }
}

/*ZONA TULUM*/
.atracciones-list {
    padding-bottom: 1em;
}
.atracciones-numcircle {
    background-color: #AE6F51;
    padding: 2px 10px;
    border-radius: 25px;
    color: var(--white);
    margin-right: 1.5em;
}
.atracciones-time {
    color: #4E7D9F;
    font-size: 14px;
    font-weight: bold;
    margin-left: 3em;
}

/*PLAZA COMERCIAL*/
@media screen and (max-width: 992px) {
    .orden-2 {
        order: 2;
    }
    .pt60-pb0 {
        padding-top: 60px!important;
        padding-bottom: 0!important;
    }
    .mbn-60 {
        margin-bottom: -60px;
    }
    
    .whitec-resp {
        color: var(--white)!important;
    }
    .mt50{
        margin-top: 50px;
    }
}

/*Sección Responsive Plaza Comercial y Sustentabilidad --> INICIO*/
@media screen and (max-width: 767px) {
    .banner-area.banner-style-one {
        padding-bottom: 0;
    }
    .mb0{
        margin-bottom: 0;
    }
    .pb0{
        padding-bottom: 0;
    }
}

/*Planta Alta / Planta Baja PLAZA COMERCIAL*/
@media screen and (min-width: 600px) {
    .contenedor-plantas {
        display: inline-flex;
        justify-content: space-around;
        width: 520px;
    }
}
@media screen and (min-width: 431px) and (max-width: 599px) {
    .contenedor-plantas {
        display: inline-flex;
        justify-content: space-around;
        width: 400px!important;
    }
}
@media screen and (max-width: 430px) {
    .contenedor-plantas {
        display: inline-flex;
        justify-content: space-evenly;
        width: 335px;
    }
}

/*INCIO --> AMENIDADES */
@media screen and (max-width: 767px) {
    .show-amenities {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .hide-amenities {
        display: none;
    }
}
/* CONTACTO */
.errtextbox{
    border-color: #d8000c;
    border-width:1px;
    border-style:solid;
    background-color: #ffebeb;
}
input:focus, textarea:focus{
    background-color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-brown-accra);
}
input:valid, textarea:valid{
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue-accra);
}
input::placeholder, textarea::placeholder{
    opacity: 0.5;
}