:root{
    --rich-black:#083636;
    --raw-umber:#7B6447;
    --camel:#B59C7D;
    --outer-space:#203838;
    --silver:#A8A8A8;
    --white:#ffffff;
    --bodoni:'Bodoni Moda 9pt', serif;
    --montserrat:'Montserrat', sans-serif;
    --extra-light:200;
    --light:300;
    --regular:400;
    --semi-bold:600;
    --bold:700;
}
/* FONTS */
@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('../fonts/bodoni/BodoniModa9pt-SemiBold.eot');
    src: url('../fonts/bodoni/BodoniModa9pt-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.woff2') format('woff2'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.woff') format('woff'),
         url('../fonts/bodoni/BodoniModa9pt-SemiBold.svg#BodoniModa9pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('../fonts/bodoni/BodoniModa9pt-Bold.eot');
    src: url('../fonts/bodoni/BodoniModa9pt-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.woff2') format('woff2'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.woff') format('woff'),
         url('../fonts/bodoni/BodoniModa9pt-Bold.svg#BodoniModa9pt-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,400&display=swap');
/* END FONTS */
/* BODY FONTS */
body#villas, #villas ::-webkit-input-placeholder, #villas ::placeholder, #villas input, #villas textarea, #villas select {
    font-family: var(--montserrat);
}
body#villas{
    color:var(--outer-space);
    font-size: 16px;
    line-height: 30px;
}
#villas h1, #villas h2, #villas h3, #villas h4, #villas h5{
    font-family: var(--bodoni);
}
#villas h2{
    font-size: 40px;
    text-transform: uppercase;
    color: var(--rich-black);
}
#villas section h5{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--raw-umber);
}
#villas p:not(:last-child){
    margin-bottom: 30px;
}
#villas .bg-raw p{
    color: var(--white)
}
/* END BODY FONTS */
/* GENERALS */
.bg-texture{
    background-image: url(../img/villas/bg-texture.jpg);
    background-size:cover;
    background-position:center;
    padding:90px 0;
    position:relative;
}
.bg-raw{
    background-color: var(--raw-umber);
}
.title-line{
    width: 160px;
    height: 2px;
    background-color: var(--raw-umber);
    margin-bottom: 40px;
}
/* END GNERALS */
/* BUTTONS */
.villa-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 25px;
    line-height: 50px;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 0px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--raw-umber);
    border: 2px solid var(--raw-umber);
}
.villa-btn:hover{
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}
.bg-raw .villa-btn{
    color: var(--white)!important;
    background-color: var(--transparent)!important;
    border: 2px solid var(--white)!important;
}
.bg-raw .villa-btn:hover, #villasForm .villa-btn:hover{
    background-color: var(--outer-space)!important;
    border: 2px solid var(--outer-space)!important;
}
/* END BUTTONS */
/* HEADER */
#villas header.header-two .header-info .item i{
    background: var(--raw-umber)!important;
}
#villas .header-info h5{
    font-size:16px;
}
/* BANNER CONTENT */
#villas .banner-area.banner-style-two .single-banner{
    height: 768px;
}
.banner-content h1{
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
}
.banner-content span{
    font-size:20px;
    line-height: 30px;
    font-weight: var(--regular);
}
/* ABOUT VILLAS */
.palm-1, .palm-2, .palm-3, .palm-4{
    position:absolute;
    display: none;
    z-index: 2;
}
.palm-1{
    top: 0px;
    left:0px;
}
.palm-1 img{
    max-width: 253px;
}
.palm-2{
    bottom: 0px;
    right:0px;
}
.palm-2 img{
    max-width: 133px;
}
.palm-3{
    bottom:0px;
    left:0px
}
.palm-4{
    bottom:0px;
    right:0px;
}
.palm-4 img{
    max-height: 394px;
}
#villas .text-block.with-pattern .pattern-wrap .pattern::before{
    background-image: url(../img/villas/bg-palms.jpg)
}
#villas .text-block.with-pattern .pattern-wrap{
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: inherit;
}
/* GALERIA */
#villas .room-slider .rooms-slider-two .single-rooms-box .room-img .img {
    -webkit-transition: all 1.3s ease-out 0s;
    transition: all 1.3s ease-out 0s;
}
#vills .room-slider .rooms-slider-two .single-rooms-box{
    margin-bottom:70px;
}
#villas .room-slider .rooms-slider-two .single-rooms-box .room-desc{
    background-color: var(--outer-space);
    padding:16px 40px;
    bottom: -40px;
}
#villas .room-slider .rooms-slider-two .single-rooms-box .room-desc h3{
    color: var(--white);
    font-size: 28px;
}
#villas .room-slider .rooms-slider-two .slick-arrow:hover{
    background-color: var(--raw-umber);
}
#villas .room-slider .rooms-slider-two .single-rooms-box .room-desc h3{
    margin-bottom:0px;
}
/* MATERIALES */
.line{
    width: 80px;
    height:2px;
    background-color: var(--raw-umber);
    margin: 15px 0 25px 0;
}
#materials h3{
    font-size: 20px;
    line-height: 31px;
    color:var(--raw-umber);
    text-transform: uppercase;
}
#materials .arrow-style .slick-arrow.next-arrow,#materials .arrow-style .slick-arrow:hover{
    background-color: var(--raw-umber);
}
/* BANNER */
.banner-bg{
    background-image:url(../img/villas/banner-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:100px 0;
}
.banner-bg p{
    font-size:25px;
    line-height: 43px;
    color:var(--white);
    font-weight:var(--light);
}
.banner-bg .title-line{
    margin:0;
    background-color: var(--camel);
}
.banner-bg a.villa-btn.light{
    background-color: transparent;
    border-color: var(--white);
}
.banner-bg a.villa-btn.light:hover{
    background-color: var(--camel);
    border-color: var(--camel);
}
/* FOOTER */
#villas .footer-logo img{
    max-width: 163px;
}
#villas .copyright-area p{
    font-size: 12px;
    font-weight:var(--light);
    letter-spacing: 1.5px;
    line-height: 18px;
}
#villas .copyright-area p a{
    color: var(--raw-umber);
    font-weight: var(--bold);
    text-decoration: none;
}
#villas .copyright-area p a:hover{
    color: var(--outer-space);
    text-decoration: underline;
}
#villas footer p i{
    font-size:21px;
    color:var(--camel);
    margin-right:10px;
}
#villas footer p a:hover{
    color:var(--camel);
}
#villas footer{
    background-image: url(../img/villas/footer-villas-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/*  MODAL FORM */
#villasForm h3{
    font-size: 28px;
    color: var(--rich-black);
}
#villasForm .modal-header {
    padding: 0;
    border-bottom: 0px;
}
#villasForm .modal-header .close {
    padding: 1rem 1rem 0 0;
    margin: 0 0 0 auto;
}
#villasForm .modal-body{
    padding:0 1rem 1rem 1rem;
}
#villasForm textarea{
    height: 200px;
}
#villasForm input:valid, #villasForm textarea:valid {
    border-color: var(--rich-black);
    background-color: #fdfdfd;
}
#villasForm .input-group .icon{
    color: var(--raw-umber);
}
#villasForm input:focus, textarea:focus{
    border-color: var(--raw-umber);
}
#villasForm input{
    color: var(--rich-black);
}
#villasForm .close{
    color: var(--raw-umber);
}
#villasForm .close:hover{
    color: var(--rich-black);
}
/* GALERIA 360 */
#tressesenta{
    padding:80px 0;
}
#frame-360{
    height: 400px;
    width: 100%;
}
/* RESPONSIVE MEDIA QUERYS */
@media (min-width: 576px){
    #tressesenta{
        padding:80px 20px;
    }
}
@media (min-width: 768px){
    #frame-360{
        height: 600px;
    }
    #villas h2{
        font-size: 45px;
    }
    .title-line{
        margin-bottom: 50px;
    }
    .banner-content h1{
        font-size: 45px!important;
        line-height: 50px;
    }
    .banner-content span{
        font-size:25px;
        line-height: 35px;
    }
    .villa-btn-dark{
        padding: 0 48px;
        line-height: 60px;
        letter-spacing: 2px;
    }
    .palm-1, .palm-2, .palm-3, .palm-4{
        display: block;
    }
    #materials p.materials-text{
        font-size: 18px;
    }
    #tressesenta{
        padding:80px;
    }
}

@media (min-width: 992px){
    #villas h2{
        font-size: 50px;
    }
    .title-line{
        margin-bottom: 60px;
    }
    .banner-content h1{
        font-size: 50px!important;
        line-height: 60px;
    }
    .banner-content span{
        font-weight: var(--extra-light);
        font-size:30px;
        line-height: 40px;
    }
    .palm-1 img{
        max-width: 323px;
    }
    .palm-2 img{
        max-width: 123px;
    }
    .palm-4 img{
        max-height: 340px;
    }
}
@media (min-width: 1200px){
    .banner-content h1{
        font-size: 60px!important;
        line-height: 70px;
    }
    .banner-content span{
        font-size:35px;
        line-height: 45px;
    }
    .palm-1 img{
        max-width: 383px;
    }
    .palm-2 img{
        max-width: 140px;
    }
    .palm-4 img{
        max-height: 374px;
    }
}